  .scrollbar {

    height: 380px;
    overflow: auto;
  }
  .scrollbar::-webkit-scrollbar {
    margin-top: -10px;
    width: 10px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    margin-top: -10px;
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  .scrollbar::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    margin-top: -10px;
    box-shadow: inset 0px 0px 5px white;
  }